outputs/
multirun/
wandb_logs/
wandb_exports/
data/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
/dataset
/notebooks
/scripts
/wandb
Tareas_Tarea_03.pdf
requirements.txt
README.md
*.zip
Tarea_3_IA.ipynb